@import '../../variables/colors';

@mixin form__text-input {
    padding-left: 0.625rem;
    box-sizing: border-box;
    border: 2px solid $color-border-primary;
    border-radius: 4px;

    &:focus {
        outline: none;
        border: 2px solid rgb(123, 165, 196);
        box-shadow: 0 0 10px rgb(186, 231, 255);
    }
}

@mixin form__submit-button {
    color: white;
    background-color: $color-submit-button-primary;
    text-transform: uppercase;
    border: 0;
    border-radius: 4px;

    &:hover {
        cursor: pointer;
    }
}