@import '../variables/fonts';
@import '../variables/colors';

* {
    margin: 0;
    padding: 0;
    height: 100%;
}

input, select, textarea, button {
    font-family: inherit;
}

body {
    font-family: $font-family-primary;
    background-color: $color-background-secondary;
}