@import '../variables/fonts';
@import '../variables/colors';

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: $font-family-primary;
    background-color: $color-background-secondary;
}

#root {
    max-height: 100%;
}

input, select, textarea, button {
    font-family: inherit;
    font-size: inherit;
}

a {
    color: $color-link-primary;
    text-decoration: none;
}

