$color-background-primary: white;
$color-background-secondary: rgb(249, 249, 249);

$color-border-primary: rgb(222, 224, 224);

$color-submit-button-primary: rgb(0, 171, 107);

$color-link-primary: rgb(85, 119, 250);